@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Sunset Dusk */
:root {
  --primary: #2D3250;
  --secondary: #424769;
  --tertiary: #7077A1;
  --light: #F6B17A;
}

/* Clean Blue Slate */
/* :root {
  --primary: #26282B;
  --secondary: #353941;
  --tertiary: #5F85DB;
  --light: #90B8F8;
} */

/* Stone and Marble */
/* :root {
  --primary: #222831;
  --secondary: #31363F;
  --tertiary: #76ABAE;
  --light: #EEEEEE;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* HEADER */
.header-container {
  background-color: var(--secondary);
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container ul {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  list-style-type: none;
  margin-right: 5rem;
}

.header-container li {
  margin: 0 15px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  font-family: 'Overpass', Helvetica, sans-serif;
}

.header-container a {
  text-decoration: none;
  color: var(--light)
}

.header-container a:hover {
  color: #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.header-container a:active {
  color: var(--light);
  border-bottom: 2px solid var(--light);
}

/* PAGES */
.home, 
.about, 
.projects, 
.skills, 
.contact {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

/* HOME PAGE */
h1 {
  color: var(--light);
  margin: 0 auto 2.5rem 2rem;
  letter-spacing: 0.09rem;
}

p {
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1.5rem;
  width: 600px;
  letter-spacing: 0.075rem;
  line-height: 2.8rem;
  margin: 0 auto 1.5rem 2rem;
}

img {
  border-radius: 100%;
  margin: auto 3rem 3rem auto;
  box-shadow: 5px 5px 15px var(--secondary);
  opacity: 0.85;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ABOUT PAGE */

.about h1 {
  text-align: center;
}
.about p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
}

/* SKILLS PAGE */
.skills h1 {
  text-align: center;
}

.skills a {
  text-decoration: none;
  color: #dddddd;
}

.skills a:hover {
  color: var(--light);
}

/* CONTACT PAGE */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
}

.contact-text {
  text-align: right;
}

.contact p {
  width: 30vw;
  min-width: 20rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.3rem;
}

input, textarea {
  width: 20rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  background-color: var(--tertiary);
  box-sizing: border-box;
  border: 1px solid var(--primary);
  -webkit-transition: 0.5s;
  transition: 0.35s;
  outline: none;
}

input {
  height: 2rem;
  margin-bottom: 0.6rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary);
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  border: 1px solid var(--light);
}

textarea {
  padding: 0.5rem;
}

button {
  background-color: var(--light);
  border: none;
  padding: 0.3rem 2.5rem;
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  border-radius: 5px;
  margin-top: 0.75rem;
  align-self: end;
}

button:hover {
  cursor: pointer;
}

/* FOOTER */
.footer-container {
  background-color: var(--secondary);
  width: 100vw;
  height: 10vh;
  color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 3rem;
}