@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


/* Blueberries & Cream */
/* :root {
 --primary: #363062;
 --secondary: #435585;
 --tertiary: #818FB4;
 --light: #F5E8C7;
} */

/* Teal Steel */
/* :root {
  --primary: #222831;
  --secondary: #393E46;
  --tertiary: #00ADB5;
  --light: #EEEEEE;
} */

/* Sunset Dusk */
:root {
  --primary: #2D3250;
  --secondary: #424769;
  --tertiary: #7077A1;
  --light: #F6B17A;
}

/* Clean Blue Slate */
/* :root {
  --primary: #26282B;
  --secondary: #353941;
  --tertiary: #5F85DB;
  --light: #90B8F8;
} */

/* Stone and Marble */
/* :root {
  --primary: #222831;
  --secondary: #31363F;
  --tertiary: #76ABAE;
  --light: #EEEEEE;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-image: url("./assets/new-background-with-shapes.jpg");
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
}

.app-container {
  position: relative;
}

/* HEADER */

.header-container {
  background-color: var(--secondary);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

#navbar {
  display: none;
}

@media only screen and (min-width: 767px) {
  #navbar {
    display: flex;
  }
}

.header-container ul {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  list-style-type: none;
  margin-right: 2rem;
}

.header-container li {
  margin: 0 15px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  font-family: 'Overpass', Helvetica, sans-serif;
}

.header-container a {
  text-decoration: none;
  color: var(--light);
}

.header-container a:hover {
  color: #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  transition: 0.25s;
}

.header-container a:active {
  color: var(--light);
  border-bottom: 2px solid var(--light);
}

/* PAGES */

.home, 
.about, 
.projects, 
.skills, 
.contact {
  color: var(--light);
  display: flex;
  height: 80%;
  width: 100%;
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

/* HOME PAGE */

.home {
  height: 80vh;
  width: 100vw;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.home h1 {
  color: var(--light);
  letter-spacing: 0.09rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  text-align: center;
  margin: 1rem auto;
  font-size: 2rem;
  max-width: 90vw;
}

.home p {
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.075rem;
  line-height: 2.2rem;
  text-align: center;
  margin: auto 2rem;
}

.home-img img {
  border-radius: 100%;
  box-shadow: 5px 5px 15px var(--secondary);
  opacity: 0.85;
  height: 12rem;
  width: 12rem;
  margin-top: 8rem;
}

@media only screen and (min-width: 767px) {
  .home h1 {
    font-size: 2.5rem;
  }
  .home p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 0 3rem;
    width: 70vw;
  }
  .home-img img {
    height: 18rem;
    width: 18rem;
  }
}

/* ABOUT PAGE */

.about {
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
}

.about h1 {
  text-align: center;
  color: var(--light);
  letter-spacing: 0.09rem;
  margin: 8rem auto 2rem auto;
  font-size: 1.8rem;
  padding-top: 10%;
}

.about p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5rem;
  color: var(--tertiary);
  font-weight: 500;
  letter-spacing: 0.075rem;
  width: 70vw;
  font-size: 1.2rem;
}

.about-text main {
  background-color: var(--primary);
}

@media only screen and (min-width: 767px) {
  .about h1 {
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .about p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* PROJECTS PAGE */

.projects {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

swiper-container {
  width: 100vw;
  height: 65vh;
  padding-top: 5vh;
  text-align: center;
  --swiper-navigation-color: var(--light) !important;
}

swiper-slide {
  background-color: var(--primary);
  color: #fff;
  font-size: 25px;
  line-height: 1.5rem;
  padding-top: 0.4rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
}

.project-thumbnail img {
  border-radius: 10px;
  box-shadow: 3px 3px 10px #bbbbbb;
  width: 17rem;
}

.project-thumbnail img:hover {
  box-shadow: 3px 3px 10px var(--light);
}

.project-thumbnail img:active {
  box-shadow: 1px 1px 10px var(--light);
  transform: translate(2px, 2px);
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.project-text a {
  text-decoration: none;
}

.project-text h1:hover {
  color: var(--light);
}

.project-text h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #dddddd;
}

.project-description {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  line-height: 2rem;
  max-width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 90vw;
  margin-top: 0.5rem;
}

.project-buttons button {
  width: 10rem;
  padding: 0.4rem 1.5rem;
}

@media only screen and (min-width: 767px) {
  .projects {
    padding-top: 10rem;
  }
  .projects-header {
    padding-top: 10%;
  }
  swiper-container {
    padding-top: 10vh;
  }
  .project-thumbnail img {
    width: 21rem;
  }
  .project-text h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .project-description {
    font-size: 1.5rem;
    line-height: 2.7rem;
    column-gap: 2.7rem;
  }
  .project-buttons {
    margin-top: 1rem;
    column-gap: 2rem;
  }
  .project-buttons button {
    text-transform: uppercase;
    width: 11rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
  }
}

/* SKILLS PAGE */

.skills {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.skills-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.skills h1 {
  text-align: center;
  color: var(--light);
  letter-spacing: 0.09rem;
  margin-bottom: 2.5rem;
  padding-top: 10%;
}

.skills p {
  font-size: 1.35rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--tertiary);
  font-weight: bold;
  letter-spacing: 0.075rem;
  background-color: var(--primary);
  width: 90vw;
  margin-bottom: 1rem;
}

.skills a {
  text-decoration: none;
  color: #dddddd;
}

.skills a:hover {
  color: var(--light);
}

.skills-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 2.5rem;
  background-color: var(--primary);
  width: 90vw;
}

.skills-item {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: #ddd;
}

.skills-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (min-width: 767px) {
  .skills {
    padding: 10rem 0;
  }
  .skills-text {
    margin-bottom: 6rem;
  }
  .skills p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    width: 75vw;
    margin-bottom: 2rem;
  }
  .skills-body {
    padding: 0 3rem;
  }
}

/* CONTACT PAGE */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.contact-text,
.contact-info {
  text-align: center;
  max-width: 85vw;
}

.contact h1 {
  color: var(--light);
  letter-spacing: 0.09rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 10%;
}

.contact p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--tertiary);
  font-weight: bold;
  letter-spacing: 0.075rem;
}

.contact-text p {
  padding-bottom: 1.5rem;
}

.contact-info {
  border-bottom: 2px solid var(--secondary);
  border-top: 2px solid var(--secondary);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-email {
  color: #cccccc;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.3rem;
}

input, textarea {
  border-radius: 5px;
  padding: 0 0.5rem;
  background-color: var(--tertiary);
  box-sizing: border-box;
  border: 1px solid var(--primary);
  -webkit-transition: 0.5s;
  transition: 0.35s;
  outline: none;
}

input {
  height: 2rem;
  margin-bottom: 0.6rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary);
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  border: 1px solid var(--light);
}

textarea {
  padding: 0.5rem;
}

button {
  background-color: var(--light);
  border: none;
  padding: 0.3rem 2.5rem;
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  border-radius: 5px;
  margin-top: 0.75rem;
  align-self: end;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #cccccc;
}

@media only screen and (min-width: 767px) {
  .contact {
    padding: 10rem 0;
  }
  .contact-text {
    max-width: 75vw;
  }
  .contact p {
    font-size: 1.5rem;
  }
  .contact-text p:last-of-type {
    padding: 2rem 0;
  }
  .form-group label {
    font-size: 1.2rem;
  }
  input, textarea {
    width: 30rem;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
  }
  .form-button {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.3rem 3.5rem;
    margin-top: 1rem;
  }
}

/* FOOTER */

.footer-container {
  background-color: var(--secondary);
  width: 100%;
  height: 10vh;
  color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.footer-links {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  height: 1.5rem;
  width: 2rem;
}

@media only screen and (min-width: 767px) {
  .footer-icon {
    height: 2rem;
  }
}

.footer-links a {
  text-decoration: none;
  color: var(--tertiary);
}

.footer-links a:hover {
  color: #eeeeee;
  transition: 0.5s;
}

.footer-links a:active {
  color: var(--light);
}
